<div id="<%= dom_id team %>">
  <div>
    <strong>Pg:</strong>
    <%= team.pg_id %>
  </div>

  <div>
    <strong>Sg:</strong>
    <%= team.sg_id %>
  </div>

  <div>
    <strong>Sf:</strong>
    <%= team.sf_id %>
  </div>

  <div>
    <strong>Pf:</strong>
    <%= team.pf_id %>
  </div>

  <div>
    <strong>C:</strong>
    <%= team.c_id %>
  </div>

  <div>
    <strong>Session token:</strong>
    <%= team.session_token %>
  </div>

  <div>
    <strong>Ip address:</strong>
    <%= team.ip_address %>
  </div>

</div>
