<p style="color: green"><%= notice %></p>

<%= turbo_frame_tag "edit_team_form" do %>

  <h3>Average Rating: <%= @team.average_rating %></h3>
  <br>

  <%= render @team %>
<% end %>

<div>
  <%= link_to "Edit this team", edit_team_path(@team) %> |
  <%= link_to "Back to teams", teams_path %>

  <%= button_to "Destroy this team", @team, method: :delete %>
</div>
