<p style="color: green"><%= notice %></p>

<h1>Average Rating: <%= @team.average_rating %></h1>
<br>

<%= render @team %>

<div>
  <%= link_to "Edit this team", edit_team_path(@team) %> |
  <%= link_to "Back to teams", teams_path %>

  <%= button_to "Destroy this team", @team, method: :delete %>
</div>
