<div id="<%= dom_id player %>">
  <div>
    <strong>Overall rank:</strong>
    <%= player.overall_rank %>
  </div>

  <div>
    <strong>First name:</strong>
    <%= player.first_name %>
  </div>

  <div>
    <strong>Last name:</strong>
    <%= player.last_name %>
  </div>

  <div>
    <strong>Position:</strong>
    <%= player.position %>
  </div>

  <div>
    <strong>Height:</strong>
    <%= player.height %>
  </div>

  <div>
    <strong>Team:</strong>
    <%= player.team %>
  </div>

  <div>
    <strong>Overall:</strong>
    <%= player.overall %>
  </div>

  <div>
    <strong>Three pt:</strong>
    <%= player.three_pt %>
  </div>

  <div>
    <strong>Dunk:</strong>
    <%= player.dunk %>
  </div>

</div>
