<p style="color: green"><%= notice %></p>

<% content_for :title, "Players" %>

<h1>Players</h1>

<div id="players">
  <% @players.order(:first_name).each do |player| %>
    <%= render player %>
    <%= image_tag "headshots/#{player.headshot_file_name}" %>
    <%= player.headshot_file_name %>
    <p>
      <%= link_to "Show this player", player %>
    </p>
  <% end %>
</div>

<%= link_to "New player", new_player_path %>
